{% extends "base.html" %}
{% block content %}

<h1>{{ impression.title }}</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <ta>
        <tr>
            <th scope="row"> Description:</th>
            <td> {{ impression.description }}</td>
        </tr>
        <tr>
            <th scope="row"> Where?</th>
            <td> {{ impression.place }}</td>
        </tr>
        <tr>
            <th scope="row"> Executor company:</th>
            <td> {{ impression.executor }}</td>
        </tr>
        <tr>
            <th scope="row"> Duration:</th>
            <td> {{ impression.duration }} hour(s)</td>
        </tr>
        <tr>
            <th scope="row"> Price:</th>
            <td> {{ impression.price }} UAH</td>
        </tr>
</table>
<p><a href="{{ url_for('comments', impression_id=impression.id) }}">Comments({{com_quant}})</a></p>

{% endblock %}
