{% extends "base.html" %}
{% block content %}

<h1>Impressions</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Place</th>
        <th scope="col">Rating</th>
        <th scope="col">Duration(hours)</th>
        <th scope="col">Price(UAH)</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {%for i in impressions %}
    <tr>
        <th scope="row"><a href="{{ url_for('impression_details', uuid=i.uuid) }}"> {{ i.title }}</th>
        <td>{{ i.place }}</td>
        <td>{{ comments_ratings['{}'.format(i.id)] }}</td>
        <td>{{ i.duration }}</td>
        <td>{{ i.price }}</td>
        <td><a href="{{ url_for('impression_edit_form', uuid=i.uuid) }}">Edit</a></td>
        <td><a href="{{ url_for('impression_delete', uuid=i.uuid) }}">Delete</a></td>
    </tr>
    {%endfor%}
    <p><a href="{{ url_for('impression_add_form') }}">Add new impression</a></p>
{% endblock %}
